@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	Html.EnableClientValidation(false);
}

@using Capstone.Web.Models.ViewModels
@model MealPlanViewModel

<section class="bgimg pt-5">
    <div class="card p-3 m-auto" style="width: 300px; height:auto; margin-top:100px !important;">
        <div id="section1" class="card-header" style="text-align: center; background-color:white"><h1>Meal Plan Builder</h1></div>
        @using (Html.BeginForm("AddMealPlan", "Meal", FormMethod.Post, new { @class = "mealPlanForm" }))
        {

            <div class="container-recipe">
                @*<h1 class="login-align">Meal Plan Builder</h1>*@

                <label for="Name" class="mt-3 mb-0"><b>Meal Plan Name</b></label>
                <input type="text" placeholder="Enter Meal Name" name="Name" required>

                <label for="Description" class="mt-3 mb-0"><b>Description</b></label>
                <input type="text" placeholder="Enter Description" name="Description" required>

                <label for="shit" class="mt-3 mb-0"><b>Add Meals</b></label>
                <div class="add-ingredient">
                    @Html.ListBox("MealSelection", Model.Meals, new { @class = "shit add-ingredient-field" })
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-space btn-success">Submit</button>

                </div>
            </div>

        }
    </div>

</section>
