
@{
    ViewBag.Title = "About";
}

<h2 class="card-title">Meet the Team!</h2>


<div class="row">
    <div class="col-sm-3">
        <div class="card" style="text-align:center;">
            <img src="~/Content/Photos/Tom Ploetz LinkedIn Photo (3) (1).jpg" alt="Tom" style="width:100%">
            <div class="container m-2">
                <h2>Tom Ploetz</h2>
                <p class="title">Software Engineer</p>
                @*<p><button class="button btn-success">Contact</button></p>*@
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="text-align:center;">
            <img src="~/Content/Photos/Dan Riddle LinkedIn Headshot 2.jpg" alt="Dan" style="width:100%">
            <div class="container m-2">
                <h2>Dan Riddle</h2>
                <p class="title">Software Engineer</p>
                @*<p><button class="button btn-success">Contact</button></p>*@
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card" style="text-align:center; height: auto;">
            <img src="~/Content/Photos/Alison Hurt LinkedIn Headshot (1) (1) (1).jpg" alt="Alison" style="width:100%">
            <div class="container m-2">
                <h2>Alison Hurt</h2>
                <p class="title">Front End Developer</p>
                @*<p><button class="button btn-success">Contact</button></p>*@
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card" style="text-align:center;">
            <img src="~/Content/Photos/Jacob Bennett LinkedIn Headshot.jpg" alt="Jacob" style="width:100%">
            <div class="container m-2">
                <h2>Jacob Bennett</h2>
                <p class="title">Application Engineer</p>
                @*<p><button class="button btn-success">Contact</button></p>*@
            </div>
        </div>
    </div>
</div>


